<form class="form" action="" method="post">

  <select>
    <option value="category">Category</option>
    <option value="project">Project</option>
    <option value="image">Image</option>
  </select>


</form>
