<div class="container">

  <div class="row">
    <h2 class="sub-heading">Pick a random project!</h2>
  </div>

  <div class= "row">
    <div class = "col-md-4">
      <a href='/category/1'><img class= "main-image" src= "/images/silly.png" /></a>
      <h3 class="main-category"> Silly </h3>
      <h4 class="allLink"><a href="/category/1/all">list all</a></h4>
    </div>

    <div class = "col-md-4">
      <a href='/category/2'><img class= "main-image" src='/images/maps.jpg' /></a>
      <h3 class="main-category"> Maps </h3>
      <h4 class="allLink"><a href="/category/2/all">list all</a></h4>
    </div>

    <div class = "col-md-4">
      <a href='/category/3'><img class= "main-image" src="/images/database.png" /> </a>
      <h3 class="main-category">Databases</h3>
      <h4 class="allLink"><a href="/category/3/all">list all</a></h4>
    </div>

  </div> <!-- close row-->

  <div class= "row">
    <div class = "col-md-4">
      <a href='/category/4'><img class= "main-image" src='/images/games.png' /></a>
      <h3 class="main-category">Games</h3>
      <h4 class="allLink"><a href="/category/4/all">list all</a></h4>
    </div>

    <div class = "col-md-4">
      <a href='/category/5'> <img class= "main-image" src="/images/cat.jpg" /></a>
      <h3 class="main-category">Cats</h3>
      <h4 class="allLink"><a href="/category/5/all">list all</a></h4>
    </div>

    <div class = "col-md-4">
      <a href='/category/6'> <img class= "main-image" src="/images/dog.jpg" /></a>
      <h3 class="main-category">Dogs</h3>
      <h4 class="allLink"><a href="/category/6/all">list all</a></h4>
    </div>

  </div>

</div> <!-- close container -->
