<div class="container">

  <div class= "row">
    <div class = "col-md-4">
      <a href='/category/1'>CAT 1</a>
    </div>

    <div class = "col-md-4">
      <a href='/category/2'> CAT 2 </a>
    </div>

    <div class = "col-md-4">
      <a href='/category/3'> CAT 3 </a>
    </div>

  </div> <!-- close row-->

  <div class= "row">
    <div class = "col-md-4">
      <a href='/category/4'>CAT 4</a>
    </div>

    <div class = "col-md-4">
      <a href='/category/5'> CAT 5 </a>
    </div>

    <div class = "col-md-4">
      <a href='/category/6'> CAT 6 </a>
    </div>

  </div>

</div> <!-- close container -->
